@import '../../../../sass/variables';

.blog-top-wrapper {
  width: 100%;
  background-color: $primaryYellow;
  padding: 0px 20px;
  margin-bottom: 24px;
}

.blog-content-wrapper {
  width: 100%;
  padding: 0px 20px;
}
